

/* Manrope  */ 
@font-face {
  font-family: "Manrope";
  src: url(/fonts/ManropeVF.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(/fonts/ManropeVF.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(/fonts/ManropeVF.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(/fonts/ManropeVF.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(/fonts/ManropeVF.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(/fonts/ManropeVF.woff2) format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(/fonts/ManropeVF.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}